<mat-form-field>
  <mat-label>Collection</mat-label>
  <mat-select [(value)]="selectedColtn">
	<mat-option *ngFor="let coltnName of coltnNames" (click) ="onColtnClicked(coltnName)" value={{coltnName}}>
      {{coltnName}}
	</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Search By</mat-label>
  <mat-select [(value)]="selectedKey">
	<mat-option *ngFor="let key of searchByList[selectedColtn]" (click)="onSearchKeyClicked()" value={{key}}>
	  {{key}}
	</mat-option>
  </mat-select>
</mat-form-field>

<br>
<div id="search-component">
  <input [(ngModel)]="searchBoxValue" #searchBox id="search-box" (input)="search(searchBox.value)" />
</div>
<br>
<br>
<div>
  <app-result-table [displayedData]="searchResults$ | async" [displayedCols]="searchByList[selectedColtn]" ></app-result-table>
</div>
